/*
    the base repo for this project is a bit old; I can no longer get grunt css-themes to run
    these are additional classes for styling presentation elements
*/

.reveal p.back-to-toc {
    position: relative;
    bottom: -200px;
    text-align: center;
    font-size: 20px;
}

.reveal p img.unframed {
    border: none;
    background: none;
    box-shadow: none;
}