<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Git Version Control</title>

		<meta name="description" content="">
		<meta name="author" content="J Dacio">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="http://www.webhostinghub.com/glyphs/css/whhg.css">

    <link rel="stylesheet" href="../css/reveal.css">
    <link rel="stylesheet" href="../css/theme/zayo.css" id="theme">
    <link rel="stylesheet" href="../css/extra.css">

    <!-- Code syntax highlighting -->
    <link rel="stylesheet" href="../lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">
			<div class="slides">
				<section>
					<section>
						<h2><a>Git Version Control</a></h2>
                        <p class="fragment back-to-toc"><a href="index.html#/2">👈🏼 back</a></p>
					</section>
					<section>
						<h3>A Successful Git Branching Model</h3>
						<p><a href="http://nvie.com/posts/a-successful-git-branching-model/" target="_blank">http://nvie.com/posts/a-successful-git-branching-model/</a></p>
						<p><small>Vincent Driessen<br>published January 5, 2010</small></p>
					</section>
				</section>

				<section>
					<section>
						<h4><a>The only Git commands you will <u>ever</u> need</a></h4>
						<p class="fragment"><small>(literally.)<span class="fragment">*</span></small></p>
                        <pre><code data-trim contenteditable>
$ git status
$ git branch
$ git remote
$ git log
$ git diff

$ git commit
$ git pull
$ git push
$ git checkout
$ git add

$ git stash
                        </code></pre>
                        <p class="fragment"><small>* like, 99.9991199% of the time.</small></p>
					</section>

					<section>
						<h4>Checking up on the current state of affairs</h4>
                        <pre><code data-trim contenteditable>
$ git status
$ git branch
$ git remote -v
$ git log
$ git diff
$ git diff someFile anotherFile
                        </code></pre>
					</section>

                    <section>
                        <h4>Verify Repo Remotes</h4>
                        <pre><code data-trim contenteditable>
$ git remote -v
                        </code></pre>

                        <p><small>Output should look like...</small></p>

                        <pre><code data-trim contenteditable>
heroku  https://git.heroku.com/tranzact3-core.git (fetch)
heroku  https://git.heroku.com/tranzact3-core.git (push)
official    git@gitlab.zayo.com:tranzact/tranzact3.git (push)
official    git@gitlab.zayo.com:tranzact/tranzact3.git (fetch)
                        </code></pre>
                    </section>

                    <section>
                        <h4>List Your Local Working Branches</h4>
                        <pre><code data-trim contenteditable>
$ git branch
                        </code></pre>

                        <p><small>Output might look something like...</small></p>

                        <pre><code data-trim contenteditable>
&nbsp;&nbsp;_zcoloUser
* 4734DiscoHTMLtoPDF
  4755MyDevBio
  official-dev
                        </code></pre>
                    </section>


					<section>
						<h4>Tracking the official project</h4>
                        <pre><code data-trim contenteditable>
$ git checkout -b official-dev official/dev —-track
                        </code></pre>
					</section>

					<section>
						<h4>Tracking a protected collaboration branch (a.k.a, an <a>epic branch</a>)</h4>
                        <pre><code data-trim contenteditable>
$ git checkout -b _zcoloUser official/_zcoloUser —-track
                        </code></pre>
					</section>

					<section>
						<h4>Creating fix/feature branches</h4>
                        <pre><code data-trim contenteditable>
$ git checkout official-dev
$ git pull official dev
$ git checkout -b 1234ShortDescription
$ git push official 1234ShortDescription
                        </code></pre>
                        <p><small>create one feature branch for each issue or <em>collection</em> of <u>related issues</u> you're working on</small></p>
					</section>

					<section>
                        <h4>Creating fix/feature branches for epics</h4>
                        <pre><code data-trim contenteditable>
$ git checkout _zcoloUser
$ git pull official _zcoloUser
$ git pull official dev
$ git checkout -b 1234ShortDescription
$ git push official 1234ShortDescription
                        </code></pre>
                        <p class="fragment"><small>always keep these branches in sync with <em>both</em> the epic they're derived from AND <a>official/dev</a></small></p>
					</section>

					<section>
						<h4>Saving your work</h4>

                        <pre><code data-trim contenteditable>
$ git commit -am "informative commit message fixes #xxx"
$ git push official 1234ShortDescription
$ git pull official dev
$ git push official 1234ShortDescription
                        </code></pre>
                        <p><small>
                            <span class="fragment">why push twice?</span>
                            <span class="fragment"><br>the <u>first</u> to immediately save you work.</span>
                            <span class="fragment"><br>the <u>second</u> to sync with <a>official/dev...</a></span>
                            <span class="fragment"><br>to save/resolve any conflicts that may arise.</span>
                            </small>
                        </p>
					</section>

					<section>
						<p><small><em>if you've created new files &amp; need to add them to the repo</em></small>
                        <pre><code data-trim contenteditable>
$ git add .
$ git commit -am "informative commit message fixes #xxx"
$ git pull official dev
$ git push official 1234ShortDescription
                        </code></pre>
					</section>

                    <section>
                        <h4>Deleting branches</h4>
                        <p><small><em>to delete a local branch...</em></small></p>
                        <pre><code data-trim contenteditable>
$ git checkout some-other-branch
$ git branch -D branch-to-delete
                        </code></pre>
                    </section>

				</section>

				<section>
					<section>
						<h3>Tips &amp; Tricks</h3>
					</section>

					<section>
						<h4>Resolving merge conflicts after a pull from <a>official/dev</a></h4>
						<p><small>do <a>not</a> fix the merge conflicts, yet. perform a commit <em>with</em> the conflicts as-is</small></p>
                        <pre><code data-trim contenteditable>
$ git commit -am "merging official/dev; conflicts in five files"
                        </code></pre>
                        <p><small>resolve the conflicts, and then perform a commit with the fix(es)</small></p>
                        <pre><code data-trim contenteditable>
$ git commit -am "resolve merge conflicts: someFile.controller.js"
                        </code></pre>
					</section>

					<section>
						<h4>Practical uses for <a>git stash</a></h4>
						<p><small>if you want to 'move' and apply your commits to another branch</small></p>
                        <pre><code data-trim contenteditable>
$ git stash
$ git checkout other-branch
$ git stash apply
                        </code></pre>
					</section>

					<section>
						<p><small>if you want to scrap your commits altogether</small></p>
                        <pre><code data-trim contenteditable>
$ git stash
$ git stash clear
                        </code></pre>
					</section>

					<section>
						<h4>"Doh! I didn't mean to say that!"</h4>
						<p><small>do this <a>before</a> you push the commit</small></p>
                        <pre><code data-trim contenteditable>
$ git commit --amend -m "New commit message"
                        </code></pre>
					</section>

                    <section>
                        <h4>"Whoops. I forgot to add <code>fixes</code>'"</h4>
                        <p><small>"empty" git commits are handy for adding <code>fixes</code> after the fact</small></p>
                        <pre><code data-trim contenteditable>
$ git commit --allow-empty -m "fixes #1234"
                        </code></pre>
                    </section>

					<section>
						<h4>Ruh Oh. Getting out of a "jam"</h4>
						<p><small>do <a>not</a> push the branch that contains the mistakes</small></p>
                        <pre><code data-trim contenteditable>
$ git commit -am "committing all my mistakes anyway."
$ git checkout any-other-branch
$ git branch -D the-branch-with-the-mistakes
$ git checkout -b the-branch-with-the-mistakes official/the-branch-with-the-mistakes --track
                        </code></pre>
					</section>

					<section>
						<h4>Do's &amp; Don'ts</h4>
						<small>
						<ul>
							<li><a>no</a> rebasing</li>
							<li><a>no</a> cherrypicking</li>
							<li><a>no</a> merging (unless it’s between your own feature branches)</li>
                            <li><a>commit often</a></li>
							<li>
                                <a>pull often</a><span class="fragment"> from <strong>official/dev</strong></span>
                                <span class="fragment"><br><em>at least once in the morning before starting your day,<br>and then one last time before you leave</em></span>
                            </li>
							<li class="fragment">...and look before you leap - <a>doublecheck before you push!</a></li>
						</ul>
						</small>
					</section>
				</section>

                <section>
                    <h3>Congratulations.</h3>
                    <h4 class="fragment">You Are Now Officially a <a>Git Ninja</a></h4>
                    <p class="fragment"><small>Use your newfound powers wisely</small></p>
                    <p class="fragment back-to-toc"><a href="index.html#/2">👈🏼 back</a></p>
                </section>

			</div>

		</div>

    <script src="../lib/js/head.min.js"></script>
    <script src="../js/reveal.js"></script>

    <script>

      // Full list of configuration options available at:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        transition: 'slide', // none/fade/slide/convex/concave/zoom

        // Optional reveal.js plugins
        dependencies: [
          { src: '../lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: '../plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: '../plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: '../plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: '../plugin/zoom-js/zoom.js', async: true },
          { src: '../plugin/notes/notes.js', async: true }
        ]
      });

    </script>

  </body>
</html>
